<a href="https://colab.research.google.com/github/PocachipMind/2020-2_UnixSystemProgramming/blob/main/%EC%84%B8%EC%85%981%20/240622/01_01_Python_Basic_my.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초
- 대상: 프로그래밍이 처음인 사람
- 목표: Python 기초 문법과 주피터 노트북 사용법을 습득하고, 간단한 프로그램을 작성할 수 있음.
- 도구: Jupyter Notebook, Colab

# 1. Python 소개

- 1991년 네덜란드의 귀도 반 로섬(Guido van Rossum)이 개발
- C, C++, 자바 등의 프로그래밍 언어보다 배우기 쉬움
- 직관적이고 이해하기 쉬운 문법
- 객체지향의 고수준 언어
- 인공지능, 데이터 분석, 웹 서버, 과학 연산 등의 프로그램 개발에 사용 가능
- 스트립트 언어
  - 코드를 작성하면 인터프리터가 코드를 기계어로 번역하면서 실행
  - C, C++은 컴파일 언어, 코드를 작성하면 컴파일러가 기계어로 작성

- 프로그램 예시



```
print("Hello Python!")
```

In [ ]:
print("Hello Py")

Hello Py

- 파이썬 스크립트 실행 예시


test.py

```
print("Hello Python!")
```



```
$ python test.py
```

In [ ]:
!echo "print(\"Hello Python!\")" >> test.py
!python test.py

Hello Python!

## 1.1 Python의 특징

- 프로그래밍이란 인산이 생각하는 것을 컴퓨터가 실행할 수 있도록 지시하는 행위를 의미함
- 파이썬은 사람이 생각하는 방식을 그대로 표현할 수 있음


```
if 2 in [0, 1, 2, 3]: print("2가 있습니다.")
```
- 위의 코드는 아래와 같이 해석할 수 있음

```
만약 2가 [0, 1, 2, 3] 중에 있으면 "2가 있습니다."를 출력  
```

- 문법이 쉬워서 빠르게 배울 수 있음
- 개발 속도가 빠름

# 2. Python의 자료형 (데이터 타입)

## 2.1 변수
- 변수
 - 변수는 저장하기 위한 공간으로, 특정 값에 이름을 붙여서 사용.
 - 변수를 사용하면 값을 쉽게 저장하고 재사용할 수 있음
 - 예시

```
variable_a = 1024
variable_b = 512
variable_c = variable_a + variable_b
```
 - 자료형
  - 변수로 사용할 수 있는 자료(데이터)의 형태
  - Python에서는 크게 숫자, 문자, 리스트, 튜플, 딕셔너리, 집합, 불리안 등이 있음



## 2.2 숫자
- 정수: 소수점이 없는 숫자, 예: 10, -3, 1e2
- 실수: 소수점이 있는 숫자, 예: 3.14, 10.5, 1e-2 등
- 16진수: 16진법으로 표현하는 수, 0123456789ABCEDF 가 한 자리에 있음, 예: 0xFF, 0x5B 등

```
int_var = 10
float_var = 1e-2
hexa_var = 0xFF
print("정수: ", int_var)
print("실수: ", float_var)
print("16진수: ", hexa_var)
```

In [ ]:
int_var = 10
float_var = 1e-2
hexa_var = 0xFF
print("정수: ", int_var)
print("실수: ", float_var)
print("16진수: ", hexa_var)

정수:  10
실수:  0.01
16진수:  255

### 숫자형을 활용하기 위한 연산자


#### 사칙연산

- 기초적인 사칙연산 `+`, `-`, `*`, `/`을 의미.
- 계산기와 마찬가지로 다음처럼 연산자를 이용한 사칙 연산을 수행할 수 있음

```
a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
```

#### x의 y제곱을 의미하는 ** 연산자

x의 y제곱 ( x^y ) 를 계산하기 위해 `x ** y` 연산을 사용

```
print( 2 ** 3 )
print( 2 * 2 * 2 )
```

In [ ]:
print( 2 ** 3 )
print( 2 * 2 * 2 )

8
8

#### 나눗셈 후 나머지를 반환하는 % 연산자

- 5를 2로 나누면 나머지는 1

```
print( 5 % 2 )
```

In [ ]:
print( 5 % 2 )

1

#### 나눗셈 후 몫을 반환하는 // 연산자
- 5를 2로 나누면 몫은 2

```
print( 5 // 2 )
```

In [ ]:
print( 5 // 2 )

2

#### 복합 연산자

- 앞서 살펴본 `+`, `-`와 같은 산술 연산자와 대입 연산자 `=` 를 함께 사용하는 것
- 아래의 두 연산은 같은 결과를 가지게 됨

```
a = 1
a = a + 1
print(a)
```

```
a = 1
a += 1
print(a)
```
- 복합 연산자는 아래와 같은 종류가 있음

```
+=, -=, *=, /=, //=, %=, **=
```

### 실습
- 변수 명 `삼성전자주식`으로 50000을 입력하시오
- 삼성전자주식이 10 주 있을 때 총 평가 금액을 출력하시오

In [ ]:
삼성전자주식 = 50000
print(삼성전자주식 * 10)

500000

## 2.3 문자열
- 연속된 문자들의 나열을 의미

### 문자열 생성하기

```
"Life is too short, You need Python"
'Seoul, 2024'
"""
이것은
여러 줄을 표현할 수 있는
문자열 표기 방식
"""
'''
이것도
여러 줄을 표현할 수 있는
문자열 표기 방식
'''
"문자열 안에 '작은따옴표' 넣기"
```
- 파이썬에서 문자열을 만드는 방법은 총 네가지가 있음
  - 큰 따옴표로 양쪽 둘러싸기
  - 작은 따옴표로 양쪽 둘러싸기
  - 큰 따옴표 3개를 연속으로 써서 양쪽 둘러싸기
  - 작은 따옴표 3개를 연속으로 써서 양쪽 둘러싸기

- 문자열 안에 작은 따옴표나 큰 따옴표 포함시킬 때
  - 아래의 문자열 표기 방식은 에러가 발생할 수 있음
```
a_sentence = "He says, "Hello World""
```
  - 아래와 같이 바꾸면 정상적으로 문자열을 사용할 수 있음
```
a_sentence = "He says, 'Hello World'"
a_sentence = 'He says, "Hello World"'
a_sentence = "He says, \"Hello World\""
a_sentence = 'He says, \'Hello World\''
```

In [ ]:
a_sentence = "He says, \"Hello World\""

### 여러 줄인 문자열을 변수로 사용하고자 할 때
  - 줄을 바꾸기 위한 `\n`을 사용하거나, 따옴표 세 쌍 혹은 쌍따옴표 세 쌍을 사용
```
multiline_sentence = '''여러 줄을 표현하는
방법'''
multiline_sentence = "여러 줄을 표현하는\n방법"
```

In [ ]:
multiline_sentence = '''여러 줄을 표현하는
방법'''
print(multiline_sentence)
multiline_sentence = "여러 줄을 표현하는\n방법"
print(multiline_sentence)

여러 줄을 표현하는
방법
여러 줄을 표현하는
방법

### 문자열 연산하기
  -  문자열 더해서 연결하기
```
head = "Py"
tail = "thon"
print(head + tail)
```

In [ ]:
head = "Py"
tail = "thon"
print(head + tail)

Python

  - 문자열 곱하기
```
string = "python"
print("-" * 10)
print(string * 3)
print("-" * 10)
```

In [ ]:
string = "python"
print("-" * 10)
print(string * 3)
print("-" * 10)

----------
pythonpythonpython
----------

  - 문자열 길이 구하기
```
string = "python"
print( len(string))
```

```
# 코드로 형식 지정됨
```

In [ ]:
string = "python"
print( len(string))

6

### 문자열 인덱싱과 슬라이싱
  - 문자열 인덱싱
```
string = "python"
```
    - 위 코드에서 변수 string에 저장한 문자열의 각 문자마다 번호를 매기면 아래와 같음
      0. p
      1. y
      2. t
      3. h
      4. o
      5. n
    - Python에서는 인덱스가 0부터 시작함
    - 인덱스가 음수인 경우 뒤에서부터 인덱싱을 수행함
```
string = "python"
print(string[0])
print(string[3])
print(string[-1])
print(string[-3])
```

  - 문자열 슬라이싱
```
string = "Life is too short, You need Python"
```
    - 위 문장에서 Life를 별도의 변수로 받아오는 방법은 아래와 같음
```
string = "Life is too short, You need Python"
sub_str = string[0] + string[1] + string[2] + string[3]
print(sub_str)
```
    - 더 편하게 받아오는 방법은 아래와 같음
```
string = "Life is too short, You need Python"
sub_str = string[0:4]
print(sub_str)
```
      - string의 인덱스 0부터 4까지의 문자를 출력하는 것을 의미
      - 이 때, 0 이상 4 미만임에 유의
    - [시작번호:끝번호] 구조에서 끝번호를 생락하면 시작 번호부터 끝까지의 문자열을 출력, 시작 번호를 생략하면 처음부터 끝번호까지의 문자열을 출력함
```
string = "Life is too short, You need Python"
print(string[:4])
print(string[19:])
print(string[-6:])
```
      - 이 때, [:]를 사용하면 전부 출력
```
string = "Life is too short, You need Python"
print(string[:])
```

### 문자열 포매팅
  - 문자열 내에 변수를 넣는 것을 의미
  
```
# 문자열에 숫자 대입
var = "파이썬은 %d년에 개발되었다." % 1991
print(var)
var = "파이썬은 %d년에 개발되었고, 지금 %.3f 버전까지 나와 있다." % (1991, 3.12)
print(var)
```

```
# 문자열에 대입하는 여러 방법
var_int = 10
var_float = 3.14
var_string = "python"
var = f"{var_int}, {var_float}, {var_string}"
print(var)
var = "{}, {}, {}".format(var_int, var_float, var_string)
print(var)
```

```
# 소문자를 대문자로 바꾸거나 대문자를 소문자로 바꾸는 방법
var = "apple"
var = var.upper()
print(var)
var = var.lower()
print(var)
```

```
# 문자열의 특정 문자를 치환하는 방법
var = "apple is sweet."
var.replace("apple", "banana")
print(var)
```

```
# 문자열을 특정 문자 기준으로 나누는 방법
var = "a b c d"
print(var.split())
print(var.split(" "))
var = "a,b,c,d"
print(var.split(","))
```

### 실습
- 자동차 번호가 아래와 같을 때, 뒤 4자리만 출력하시오

`license_plate="157허 3279"`

- 아래의 문자열에서 `홀`만 출력하시오

`string = "홀짝홀짝흘짝"`

## 2.4 리스트
- 다양한 변수를 모아서 하나의 변수로 다루기 위한 자료형

### 리스트 생성하기

- 리스트를 사용하면 2, 4, 8, 6, 10의 숫자 모음을 아래와 같이 표현할 수 있음
```
even = [2, 4, 6, 8, 10]
```
- 리스트를 만들 때에는 위의 예시와 같이 대괄호 `[]`로 감싸 주고 각 요소 값은 쉼표로 구문함
```
리스트_변수명 = [요소1, 요소2, 요소3, 요소4, ...]
```
- 리스트 내부에 리스트가 여러번 중첩될 수 있으며, 생김새는 아래와 같음
```
aa = []
bb = [2, 4]
cc = ['This','is','Python']
dd = [0, 1, 'Python']
ee = [0, [1], [['p', 'y'], 't'], 'h']
```
- 빈 리스트는 아래와 같이 생성할 수 있음
```
a = []
a = list()
```

### 리스트의 인덱싱과 슬라이싱
- 리스트도 문자열과 같이 인덱싱과 슬라이싱을 할 수 있음
- 리스트의 인덱싱
```
a = [1, 2, 3]
print(a[0])
print(a[-1])
print(a[0] + a[1])
```

- 중첩된 리스트도 인덱스를 통한 접근을 할 수 있음
```
a = [1, 2, [3, 4], [5, [6, 7]]]
print(a[-1])
print(a[-1][1])
print(a[-1][1][0])
print(a[2][0])
```

- 리스트의 슬라이싱
  - 문자열과 마찬가지로 리스트에서도 슬라이싱을 수행할 수 있음
```
a = [1, 2, 3, 4, 5]
print(a[:2])
print(a[-2:])
```

### 리스트 연산하기
- 리스트 역시 `+`를 사용해서 더할 수 있고 `*`를 사용해서 반복할 수 있음
```
# 리스트 더하기
a = [2, 4, 6, 8, 10]
b = [1, 3, 5, 7, 9]
c = a + b
print(c)
```

```
# 리스트 반복하기
a = [2, 4]
b = a * 2
print(a)
```

### 리스트 길이 구하기
- 리스트의 길이를 구하기 위해서 len 함수를 사용함
```
a = [2, 4, 6]
print(len(a))

b = [2, 3, [4, 6]]
print(len(b))
print(len(b[-1]))
```

### 리스트의 수정과 삭제
- 리스트 값 수정하기
```
a = [1, 3, 5, 10]
a[-1] = 9
print(a)
```

- `del` 함수를 사용해서 리스트 내 특정 요소 삭제
```
a = [1, 2, 4, 6]
del a[0]
print(a)
del a[-2:]
print(a)
```

### 리스트 관련 함수
- 리스트에 요소 추가하기


```
a_list = [ 1, 3, 5 ]
a_list.append(9)
print(a_list)

a_liat.append([1,2])
print(a_list)
```

- 리스트 정렬
  - 기본적으로 오름차순으로 정렬
  - 내림차순으로 정렬하는 경우 reverse=True 입력

```
a_list = [ 1, 5, 10, 20, 30 ]
a_list.sort()
print(a_list)


a_list = [ 1, 5, 10, 20, 30 ]
print(a_list.sort())


a_list = [ 1, 5, 10, 20, 30 ]
a_list.sort(reverse=True)
print(a_list)
```

- 리스트 뒤집기
  - 정렬을 수행하지 않고 요소를 그대로 거꾸로 뒤집는 연산


```
a_list = [ 1, 5, 10, 20, 30 ]
a_list.reverse()
print(a_list)


a_list = [ 1, 5, 10, 20, 30 ]
print(a_list.reverse())
```

- 리스트 내 특정 값의 인덱스 반환
  - index(x)는 리스트에 x값이 있으면 x의 인덱스를 반환함


```
a_list = [ 1, 5, 10, 20, 30 ]
print(a_list.index(10))


a_list = [ 1, 5, 10, 20, 30 ]
print(a_list.index(3))
```

- 리스트 내 특정 값의 개수 확인
  - count(x)는 리스트 내 x의 개수를 확인

```
a_list = [ 1, 5, 10, 20, 30 ]
print(a_list.count(10))


a_list = [ 1, 5, 10, 20, 30 ]
print(a_list.count(3))
```

### 실습
- movie_rank 리스트가 아래와 같이 있을 때, '럭키'를 삭제하시오

`movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']`

In [2]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[movie_rank.index('럭키')]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

- lang1과 lang2 리스트가 아래와 같이 있을 때, 두 리스트의 원소를 모두 갖고 있는 langs 리스트를 생성하시오

`lang1 = ["C", "C++", "JAVA"]`

`lang2 = ["Python", "Go", "C#"]`

In [3]:
lang1 = ["C", "C++", "JAVA"]

lang2 = ["Python", "Go", "C#"]

lang1.extend(lang2)

print(lang1)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## 2.5 튜플
- 대부분 리스트와 유사하지만, 크게 두 가지가 다름
- 선언 방식
  - 리스트: `[]`
  - 튜플: `()`
- 리스트는 선언 후 내부 값을 바꿀 수 있으나, 튜플은 선언 후 내부 값을 바꿀 수 없음.

### 튜플 생성하기
```
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('c', ('d', 'e')))
```
- 리스트와 크게 다르지 않으나, 하나의 요소를 가질 때는 요소 뒤에 쉼표를 반드시 붙여야 함
- 소괄호를 생략해도 튜플 선언 가능
- 프로그램 실행 중 내부 값이 바뀌길 원한다면 리스트로 선언
- 프로그램 실행 중 내부 값이 바뀌지 않기를 원한다면 튜플로 선언

### 튜플 연산하기
- 기본적으로는 리스트와 동일함
```
# 튜플 인덱싱
a = (1, 2, 3, 10, (11, 55))
print(a[-1])

# 튜플 슬라이싱
print(a[:2])

# 튜플 더하기
b = (50, (20, 1), 4)
print(a+b)

# 튜플 곱하기
print(a * 2)

# 튜플 길이 구하기
print(a)
print(len(a))
```

### 실습
- 아래 튜플을 리스트로 변환하시오

`interest = ('삼성전자', 'LG전자', 'SK Hynix')`

In [5]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(('삼성전자', 'LG전자', 'SK Hynix'))
print(interest )

['삼성전자', 'LG전자', 'SK Hynix']

## 2.5 딕셔너리
- "국가": "대한민국", "도시":"서울"과 같이 대응 관계를 나타낼 수 있는 자료형
- 해시 맵으로 사용할 수 있음
- Key와 Value 쌍으로 데이터를 저장하며, 한 딕셔너리에 같은 키를 가진 키:값 쌍은 존재할 수 없음

### 딕셔너리 생성하기
```
a = {
    "key1": "value1"
    , "key2": "value1"
    , "key3": "value2"
    , "key4": "value3"
}
```
- 같은 값을 가진 키는 존재할 수 있음
- 같은 키를 가진 두 개의 쌍은 있을 수 없음

```
a = {
    "name": "jy"
    , "phone": "01099992222"
    , "email": "1q2w@qwe.com"
    , "phone": "+821099992283"
}
print(a["key1"])
```

### 딕셔너리에 쌍 추가하기
```
a = {
    0: 'a',
    'b': 3
}
a[2] = 'c'
print(a)
```

```
a = {
    "name": "jy"
    , "phone": "01099992222"
    , "email": "1q2w@qwe.com"
}
a['code'] = [0, 1, [12,3]]
print(a)
```

### 딕셔너리에서 쌍 제거하기
```
a = {
    0: 'a',
    'b': 3
}
del a[0]
print(a)
```

```
a = {
    "name": "jy"
    , "phone": "01099992222"
    , "email": "1q2w@qwe.com"
}
del a['code']
print(a)
```

### 딕셔너리에서 관련 함수

- 키 리스트 만들기
```
a = {
    0: 'a',
    'b': 3
}
print(a.keys())
```

- 값 리스트 만들기
```
a = {
    "name": "jy"
    , "phone": "01099992222"
    , "email": "1q2w@qwe.com"
}
print(a.values())
```

- 키, 값 쌍 만들기
```
a = {
    "name": "jy"
    , "phone": "01099992222"
    , "email": "1q2w@qwe.com"
}
print(a.items())
```

- 키가 딕셔너리에 있는지 확인하기
```
a = {
    "name": "jy"
    , "phone": "01099992222"
    , "email": "1q2w@qwe.com"
}
print('name' in a)
print('home' in a)
```

### 실습
- 아래의 차량 이름과 희망 가격을 딕셔너리로 구성하시오


|이름|희망가격|
|-|-|
|아반떼|2000|
|소나타|3000|
|그렌저|4000|

In [6]:
cars = dict()

cars["아반떼"] = 2000
cars["소나타"] = 3000
cars["그렌저"] = 4000

print(cars)

{'아반떼': 2000, '소나타': 3000, '그렌저': 4000}

- 아래의 표에서 아이스크림 이름을 키값으로, [가격, 재고] 리스트를 딕셔너리의 값으로 저장하시오
- 딕셔너리의 이름은 inventory로 하시오

|이름|가격|재고|
|-|-|-|
|메로나|500|10|
|비비빅|700|5|
|벤엔제리스|14700|10|

In [11]:
inventory = {
    "메로나" : [500, 10],
    "비비빅" : [700, 5],
    "벤엔제리스" : [14700, 10]
}

- 위에서 생성한 inventory 딕셔너리에서 비비빅의 재고를 출력하시오

In [12]:
print( inventory["비비빅"][1])

5

- 위에서 생성한 inventory 딕셔너리에 아래 데이터를 추가하시오

|이름|가격|재고|
|-|-|-|
|월드콘|1500|10|

In [16]:
inventory["월드콘"] = [1500,10]

print(inventory)

{'메로나': [500, 10], '비비빅': [700, 5], '벤엔제리스': [14700, 10], '월드콘': [1500, 10]}

## 2.6 집합
- 집합 자료형은 set 키워드를 사용해 만들 수 있음
- 내부 값에 인덱스로 접근할 수 없음
  - 순서가 없음



```
s1 = set([1, 2, 3])
print(s1)
```

- 통상 리스트 내 독립된 값을 얻을 때 사용함

```
l1 = [0, 0, 1, 2, 3, 5]
s1 = set(l1)
l2 = list(s1)
print(l1)
print(s1)
print(l2)
```

### 교집합, 합집합, 차집합 구하기

- 교집합 구하기

```
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 8])

print(s1 & s2)
print(s2.intersection(s1))
```

- 합집합 구하기

```
s1 = set([1, 3, 5, 7, 9])
s2 = set([2, 4, 6, 8, 10])

print(s1 | s2)
print(s2.union(s1))
```

- 차집합 구하기

```
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 8, 12, 16, 20])

print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(s2.difference(s1))
```

## 2.7 불리언
- 참(True) 또는 거짓(False) 값을 저장하는 데이터 타입
- 언어에 따라 true / false, True / False 등으로 표현하지만 Python에서는 True / False로 표현

### 자료형의 참과 거짓

- Python에서 자료형마다 참과 거짓을 구분할 수 있음
- 기본적으로 내부 값이 없거나 0일 때 거짓이라고 함



```
s1 = "python"
s2 = ""
print(bool(s1))
print(bool(s2))

l1 = [1, 2, 3]
l2 = []
print(bool(l1))
print(bool(l2))

t1 = (1, 2, 3)
t2 = ()
print(bool(t1))
print(bool(t2))

d1 = {'a': 0}
d2 = {}
print(bool(d1))
print(bool(d2))

i1 = 1
i2 = 0
print(bool(i1))
print(bool(i2))

print(None)
```

## 변수의 데이터 타입 확인
- 변수 var가 있을 때,
        - type(var) 함수를 사용하여 변수의 데이터 타입을 확인 가능
        - isinstance(var, 변수형) 함수를 사용하여 변수가 특정 데이터 타입인지 확인 가능

```
int_var = 3
float_var = 3.14
string_var = "원주율"
boolean_var = True
print("int_var의 데이터 타입: ", type(int_var))
print("float_var가 실수형인지 확인: ", isinstance(float_var, float))
print("string_var의 데이터 타입: ", type(string_var))
print("boolean_var의 데이터 타입: ", type(boolean_var))
```


- 정수 `30`과 문자열 `'30'`은 서로 다른 변수임에 유의

```
int_var = 30
string_var = '30'
bool_condition = int_var == string_var
print(bool_condition)
```

# 실습: 다양한 데이터 타입의 변수 선언 및 출력

## 1. 정수, 실수 문자열 변수 선언하기
임의의 변수명으로 각각의 데이터 타입을 가진 변수를 선언하고 출력

## 2. 변수 값 변경하기
선언한 변수의 값을 변경하고, 변경된 값을 출력

## 3. 변수의 데이터 타입 확인하기
type() 함수 또는 isinstance() 함수를 사용하여 변수의 데이터 타입을 확인

## 4. 두 수의 합 구하기
- 두 개의 정수 변수를 선언하고, 두 수의 합을 출력하는 프로그램을 작성하시오.

## 5. 문자열 결합
- 두 개의 문자열 변수를 선언하고, 두 문자열을 결합하여 출력하는 프로그램을 작성하시오.

## 6. 불리언 조건 확인
- 두 개의 불리언 변수를 선언하고, 두 변수가 모두 참인지 확인하여 결과를 출력하는 프로그램을 작성하세요.